<!--
 ~ Copyright DB Netz AG and contributors
 ~ SPDX-License-Identifier: Apache-2.0
 -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/static/icons/favicon.ico" />
        <title>{{ element.name }} - Overview</title>
        <link
            href="{{ url_for('static', path='/styles.css') }}"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom-container@0.6.1"></script>
    </head>
    <body>
        <main>
            <h1>
                {{ element.name }}
                <span style="font-size: 70%">({{ element.xtype }})</span>
            </h1>
            <table>
                <tr>
                    <td>uuid</td>
                    <td>{{ element.uuid }}</td>
                </tr>
                <tr>
                    <td>parent</td>
                    <td>{{ element.parent._short_html_() }}</td>
                </tr>
                <tr>
                    <td>description</td>
                    <td>
                        <span>{{ element.description }}</span>
                    </td>
                </tr>
                <tr>
                    <td>properties</td>
                    <td>
                        <ol>
                            {% for prop in element.properties %}
                            <li>
                                <p>
                                    <strong>Property</strong> "{{ prop.name
                                    }}": {{prop.type.name}}
                                    <span>{{ prop.description }}</span>
                                </p>
                            </li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            </table>
        </main>
        <aside>
            <div data-zoom-on-wheel data-pan-on-drag>
                {{ element.tree_view.as_svg | safe }}
            </div>
        </aside>
    </body>
</html>
