[submodule "std_msgs"]
	path = rosidl2capella/ros/std_msgs
	url = https://github.com/ros/std_msgs.git
[submodule "common_msgs"]
	path = rosidl2capella/ros/common_msgs
	url = https://github.com/ros/common_msgs.git
